<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img class="navbar-brand" id="logo" src="\assets\logo1.png"  href="#" class="d-block " >

    <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-8">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img class="navbar-brand" id="logo" src="\assets\logo1.png" href="#" class="d-block">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-8">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categories</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " aria-disabled="true">Disabled</a>
        </li> -->
      </ul>

      <!-- Inserted Search Form -->
      <form class="d-flex me-auto" role="search">
        <input class="form-control custom-width-search me-2" type="search" placeholder="Search" aria-label="Search" (click)="navigateToSearchPage()">
      </form>

      <!-- Updated: Login/Logout Icons -->
      <div class="d-flex align-items-center">
        <!-- Add your login/logout icon buttons or other elements here -->

      <button class="mat-icon-button custom-sell-button" (click)="navigateToSell()" >
        <mat-icon>touch_app</mat-icon> Sell
      </button>

        <button class="btn btn-outline-primary me-2"(click)="navigateToLogin()">Login</button>
        <button class="btn btn-outline-danger" (click)="navigateToSignUp()">SignUp</button>
      </div>
    </div>
  </div>
</nav>
