<!-- 
 <div class="signup-container" >
   <h2>Create an Account</h2>
   <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
     <div class="form-group">
       <label for="email">Email:</label>
       <input type="email" id="email" name="email" required  formControlName="email" >
     </div>
 
     <div class="form-group" >
       <label for="username">Username:</label>
       <input type="text" id="username" name="username" required formControlName="username">
     </div>
 
     <div class="form-group">
       <label for="contact">Contact:</label>
       <input type="text" id="contact" name="contact" required  formControlName="contact" >
     </div>
 
     <div class="form-group">
       <label for="password">Password:</label>
       <input type="password" id="password" name="password" required formControlName="password" >
     </div>
 
     <div class="form-group">
       <label for="reenterPassword">Re-enter Password:</label>
       <input type="password" id="reenterPassword" name="reenterPassword" required formControlName="reenterPassword">
     </div>
 
     <button type="submit">Sign Up</button>
   </form>
 </div>
  -->


  <div class="mx-auto flex h-screen max-w-lg flex-col md:max-w-none md:flex-row md:pr-10">
    <div class="max-w-md rounded-3xl bg-gradient-to-t from-blue-700 via-blue-700 to-blue-600 px-4 py-10 text-white sm:px-10 md:m-6 md:mr-8">
      <p class="mb-20 font-bold tracking-wider">SWIFT BUY HUB</p>
      <p class="mb-4 text-3xl font-bold md:text-4xl md:leading-snug">
        Start your <br />
        journey with us
      </p>
      <p class="mb-28 leading-relaxed text-gray-200">Unlock the Future: Sign up and Experience Tomorrow's Classifieds Today!</p>
      <!-- <div class="bg-blue-600/80 rounded-2xl px-4 py-8">
        <p class="mb-3 text-gray-200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ea voluptates sapiente!</p>
        <div class="">
          <div class="flex items-center">
            <img class="h-10 w-10 rounded-full object-cover" src="/images/y9s3xOJV6rnQPKIrdPYJy.png" alt="Simon Lewis" />
            <p class="ml-4 w-56">
              <strong class="block font-medium">Simon Lewis</strong>
              <span class="text-xs text-gray-200"> Published 12 Bestsellers </span>
            </p>
          </div>
        </div>
      </div> -->
      
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>

    </div>
   
    

    <div class="loader-overlay" *ngIf="loading">
      <div class="loader1">
        <div class="cube">
          <div class="face"></div>
          <div class="face"></div>
          <div class="face"></div>
          <div class="face"></div>
          <div class="face"></div>
          <div class="face"></div>
        </div>
      </div>
    </div>


    <div class="px-4 py-5">
      <h2 class="mb-2 text-3xl font-bold">Sign Up</h2>
      <a href="/login" class="mb-3 block font-bold text-gray-600">Have an account click here</a>

      <!-- <p class="mb-1 font-medium text-gray-500">Looking for?</p>
      <div class="mb-6 flex flex-col gap-y-2 gap-x-4 lg:flex-row">
        <div class="relative flex w-56 items-center justify-center rounded-xl bg-gray-50 px-4 py-3 font-medium text-gray-700">
          <input class="peer hidden" type="radio" name="radio" id="radio1" checked />
          <label class="peer-checked:border-blue-600 peer-checked:bg-blue-200 absolute top-0 h-full w-full cursor-pointer rounded-xl border" for="radio1"> </label>
          <div class="peer-checked:border-transparent peer-checked:bg-blue-600 peer-checked:ring-2 absolute left-4 h-5 w-5 rounded-full border-2 border-gray-300 bg-gray-200 ring-blue-600 ring-offset-2"></div>
          <span class="pointer-events-none z-10">Projects</span>
        </div>
        <div class="relative flex w-56 items-center justify-center rounded-xl bg-gray-50 px-4 py-3 font-medium text-gray-700">
          <input class="peer hidden" type="radio" name="radio" id="radio3" checked />
          <label class="peer-checked:border-blue-600 peer-checked:bg-blue-200 absolute top-0 h-full w-full cursor-pointer rounded-xl border" for="radio3"> </label>
          <div class="peer-checked:border-transparent peer-checked:bg-blue-600 peer-checked:ring-2 absolute left-4 h-5 w-5 rounded-full border-2 border-gray-300 bg-gray-200 ring-blue-600 ring-offset-2"></div>
          <span class="pointer-events-none z-10">Job</span>
        </div>
      </div> -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <p class="mb-1 font-medium text-gray-500">Email</p>
      <div class=" flex flex-col" class="form-group">
        <div class="focus-within:border-blue-600 relativeflex overflow-hidden rounded-md border-2 transition sm:w-80 lg:w-full">
          <input type="email" id="email" name="email" required  formControlName="email" class="w-full border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Enter your email" />
          
        </div>
        <div *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched" style="color: red;"  class="text-red-500">Email is required</div>
        <div *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched"style="color: red;"  class="text-red-500">Invalid email format</div>

      </div>
      <p class="mb-1 font-medium text-gray-500">Username</p>
      <div class=" flex flex-col" class="form-group">
        <div class="focus-within:border-blue-600 relativeflex overflow-hidden rounded-md border-2 transition sm:w-80 lg:w-full">
          <input type="text" id="username" name="username" required formControlName="username" class="w-full border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Enter your UserName" />
        </div>
        <div *ngIf="signupForm.get('username')?.errors?.['required'] && signupForm.get('username')?.touched" style="color: red;"  class="text-red-500">username is required</div>

      </div>
      <p class="mb-1 font-medium text-gray-500">Contact</p>
      <div class=" flex flex-col" class="form-group">
        <div class="focus-within:border-blue-600 relativeflex overflow-hidden rounded-md border-2 transition sm:w-80 lg:w-full">
          <input type="text" id="contact" name="contact" required  formControlName="contact" class="w-full border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Enter your contact number" />

        </div>
        <div *ngIf="signupForm.get('contact')?.errors?.['required'] && signupForm.get('contact')?.touched" style="color: red;"  class="text-red-500">contact is required</div>
      </div>
     
      <p class="mb-1 font-medium text-gray-500">Password</p>
      <div class=" flex flex-col" class="form-group">
        <div class="focus-within:border-blue-600 relative flex overflow-hidden rounded-md border-2 transition sm:w-80 lg:w-full">
          <input type="password" id="password" name="password" required formControlName="password" class="w-full border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Choose a password (minimum 8 characters)" />

        </div>
        <div *ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched" style="color: red;"  class="text-red-500">password is required</div>
      </div>

      <p class="mb-1 font-medium text-gray-500">Re-Enter Password</p>
      <div class=" flex flex-col" class="form-group">
        <div class="focus-within:border-blue-600 relativeflex overflow-hidden rounded-md border-2 transition sm:w-80 lg:w-full">
          <input type="password" id="reenterPassword" name="reenterPassword" required formControlName="reenterPassword" class="w-full border-gray-300 bg-white px-4 py-2 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Reenter your Password" />
        </div>
        <div *ngIf="signupForm.get('reenterPassword')?.errors?.['required'] && signupForm.get('reenterPassword')?.touched" style="color: red;" class="text-red-500">reenter Password is required</div>

      </div>
      <button type="submit" class="hover:shadow-blue-600/40 rounded-xl bg-gradient-to-r from-blue-700 to-blue-600 px-8 py-3 font-bold text-white transition-all hover:opacity-90 hover:shadow-lg">Sign Up</button>
    </form>
    
    </div>
  </div>
  