@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* styles.css */
.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Add more styles as needed */


.card-container {
    width: 300px; /* Set a fixed width for each card container */
  }
  
  .card {
    width: 100%; /* Ensure that each card takes up the full width of its container */
  }
  
  /* Additional styling for card elements */
  
  .category-container {
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .card-container {
    flex: 0 0 auto; /* Ensure each card has a fixed size */
    width: 300px; /* Adjust the width as per your design */
  }
  

  /* home.component.css */
.Btn {
  width: 45px;
  height: 45px;
  background: linear-gradient(#44ea76, #39fad7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
}

.arrow path {
  fill: white;
}

.text {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: .7s;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
