<app-toolbar></app-toolbar>


<section class="py-12 sm:py-16"> 
    <!-- for car  -->
    <div class="container mx-auto px-4" *ngIf="categoryName === 'cars'">
      <nav class="flex">
        <ol role="list" class="flex items-center">
          <li class="text-left">
            <div class="-m-1">
              <a href="#" class="rounded-md p-1 text-sm font-medium text-gray-600 focus:text-gray-900 focus:shadow hover:text-gray-800"> Home </a>
            </div>
          </li>
  
          <li class="text-left">
            <div class="flex items-center">
              <span class="mx-2 text-gray-400">/</span>
              <div class="-m-1">
                <a href="#" class="rounded-md p-1 text-sm font-medium text-gray-600 focus:text-gray-900 focus:shadow hover:text-gray-800"> {{categoryName}} </a>
              </div>
            </div>
          </li>
  
          <!-- <li class="text-left">
            <div class="flex items-center">
              <span class="mx-2 text-gray-400">/</span>
              <div class="-m-1">
                <a href="#" class="rounded-md p-1 text-sm font-medium text-gray-600 focus:text-gray-900 focus:shadow hover:text-gray-800" aria-current="page"> Coffee </a>
              </div>
            </div>
          </li> -->
        </ol>
      </nav>
  
      <div class="lg:col-gap-12 xl:col-gap-16 mt-8 grid grid-cols-1 gap-12 lg:mt-12 lg:grid-cols-5 lg:gap-16">
        <div class="lg:col-span-3 lg:row-end-1">
            <div class="lg:flex lg:items-start">
              <div class="lg:order-2 lg:ml-5">
                <div class="max-w-xl overflow-hidden rounded-lg">
                    <img class="h-full w-full max-w-full object-cover" [src]="getImageUrl(car.images[selectedImageIndex])" alt="Main Car Image" *ngIf="car && car.images && car.images.length > 0" />
                </div>
              </div>
          
              <div class="mt-2 w-full lg:order-1 lg:w-32 lg:flex-shrink-0">
                <div class="flex flex-row items-start lg:flex-col">
                  <button *ngFor="let image of car.images; let i = index" type="button" class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-gray-900 text-center"
                    (click)="changeMainImage(i)">
                    <img [src]="getImageUrl(image)" class="h-full w-full object-cover" alt="Car Image" />
                  </button>
                </div>
              </div>
            </div>
          </div>
          
  
        <div class="lg:col-span-2 lg:row-span-2 lg:row-end-2">
          <h1 class="sm: text-2xl font-bold text-gray-900 sm:text-3xl">{{ car.Company }}  {{ car.Vaarient }}</h1>
  
          <div class="mt-5 flex items-center">
            <div class="flex items-center">
              <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
              </svg>
              <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
              </svg>
              <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
              </svg>
              <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
              </svg>
              <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
              </svg>
            </div>
            <!-- <p class="ml-2 text-sm font-medium text-gray-500">1,209 Reviews</p> -->
          </div>
  
          <li class="flex items-center text-left text-sm font-medium text-gray-600">   
            <h1><strong style="font-weight: bold; margin-right: 0.5rem;">Transmission:</strong></h1>
            {{ car.Transmission === '1' ? 'Auto' : (car.Transmission === '2' ? 'Manual' : 'Unknown') }}
          </li>
          <li class="flex items-center text-left text-sm font-medium text-gray-600">   
            <h1><strong style="font-weight: bold; margin-right: 0.5rem;">Model:</strong></h1>
            {{ car.modelYear}}
          </li>

  
          <div class="mt-10 flex flex-col items-center justify-between space-y-4 border-t border-b py-4 sm:flex-row sm:space-y-0">
            <div class="flex items-end">
              <h1 class="text-3xl font-bold">{{car.price}}</h1>
              <span class="text-base">/PKR</span>
            </div>
  
            <!-- <button type="button" class="inline-flex items-center justify-center rounded-md border-2 border-transparent bg-gray-900 bg-none px-12 py-3 text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800" (click)="toggleChat()">
              <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mr-3 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
              </svg>
              Chat with User
            </button> -->
            <button type="button" 
                  class="inline-flex items-center justify-center rounded-md border-2 border-transparent bg-gray-900 bg-none px-12 py-3 text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800 {{ userIdPosterAd === curentUserId ? 'blurred-button' : '' }}" 
                  [disabled]="userIdPosterAd === curentUserId" 
                  (click)="toggleChat()">
            <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mr-3 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
            </svg>
            Chat with User
          </button>

          </div>
  
          <ul class="mt-8 space-y-2">
            <li class="flex items-center text-left text-sm font-medium text-gray-600">
              <svg class="mr-2 block h-5 w-5 align-middle text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" class=""></path>
              </svg>
              {{ car.location }}
            </li>
  
            <li class="flex items-center text-left text-sm font-medium text-gray-600">            
              <i class="fas fa-tachometer-alt mr-2 block h-7 w-7 align-middle text-gray-500"></i>
              {{ car.Mileage }}km
            </li>
          </ul>
        </div>
  
        <div class="lg:col-span-3">
          <div class="border-b border-gray-300">
            <nav class="flex gap-4">
              <a href="#" title="" class="border-b-2 border-gray-900 py-4 text-sm font-medium text-gray-900 hover:border-gray-400 hover:text-gray-800"> Description </a>
  
            </nav>
          </div>
  
          <div class="mt-8 flow-root sm:mt-12">
            <!-- <h1 class="text-3xl font-bold">Description</h1> -->
            <p class="mt-4">{{car.description }}</p>
            
          </div>
        </div>
      </div>
    </div>
    <!-- for cars -->

    <!-- for lptop -->
    <div class="container mx-auto px-4" *ngIf=" categoryName === 'laptops'">
        <nav class="flex">
          <ol role="list" class="flex items-center">
            <li class="text-left">
              <div class="-m-1">
                <a href="#" class="rounded-md p-1 text-sm font-medium text-gray-600 focus:text-gray-900 focus:shadow hover:text-gray-800"> Home </a>
              </div>
            </li>
    
            <li class="text-left">
              <div class="flex items-center">
                <span class="mx-2 text-gray-400">/</span>
                <div class="-m-1">
                  <a href="#" class="rounded-md p-1 text-sm font-medium text-gray-600 focus:text-gray-900 focus:shadow hover:text-gray-800"> {{categoryName}} </a>
                </div>
              </div>
            </li>
    
            <!-- <li class="text-left">
              <div class="flex items-center">
                <span class="mx-2 text-gray-400">/</span>
                <div class="-m-1">
                  <a href="#" class="rounded-md p-1 text-sm font-medium text-gray-600 focus:text-gray-900 focus:shadow hover:text-gray-800" aria-current="page"> Coffee </a>
                </div>
              </div>
            </li> -->
          </ol>
        </nav>
    
        <div class="lg:col-gap-12 xl:col-gap-16 mt-8 grid grid-cols-1 gap-12 lg:mt-12 lg:grid-cols-5 lg:gap-16">
          <div class="lg:col-span-3 lg:row-end-1">
              <div class="lg:flex lg:items-start">
                <div class="lg:order-2 lg:ml-5">
                  <div class="max-w-xl overflow-hidden rounded-lg">
                      <img class="h-full w-full max-w-full object-cover" [src]="getImageUrl(laptop.images[selectedImageIndex])" alt="Main laptop Image" *ngIf="laptop && laptop.images && laptop.images.length > 0" />
                  </div>
                </div>
            
                <div class="mt-2 w-full lg:order-1 lg:w-32 lg:flex-shrink-0">
                  <div class="flex flex-row items-start lg:flex-col">
                    <button *ngFor="let image of laptop.images; let i = index" type="button" class="flex-0 aspect-square mb-3 h-20 overflow-hidden rounded-lg border-2 border-gray-900 text-center"
                      (click)="changeMainImage(i)">
                      <img [src]="getImageUrl(image)" class="h-full w-full object-cover" alt="laptop Image" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
    
          <div class="lg:col-span-2 lg:row-span-2 lg:row-end-2">
            <h1 class="sm: text-2xl font-bold text-gray-900 sm:text-3xl">{{ laptop.company}} {{ laptop.typeName}}  </h1>
    
            <div class="mt-5 flex items-center">
              <div class="flex items-center">
                <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                </svg>
                <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                </svg>
                <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                </svg>
                <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                </svg>
                <svg class="block h-4 w-4 align-middle text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" class=""></path>
                </svg>
              </div>
              <!-- <p class="ml-2 text-sm font-medium text-gray-500">1,209 Reviews</p> -->
            </div>
    
            <li class="flex items-center text-left text-sm font-medium text-gray-600">   
              <h1><strong style="font-weight: bold; margin-right: 0.5rem;">Ram:</strong></h1>
              {{ laptop.Ram }} 
            </li>
            <li class="flex items-center text-left text-sm font-medium text-gray-600">   
              <h1><strong style="font-weight: bold; margin-right: 0.5rem;">CPU:</strong></h1>
              {{ laptop.Cpubrand}}
            </li>

            <li class="flex items-center text-left text-sm font-medium text-gray-600">   
                <h1><strong style="font-weight: bold; margin-right: 0.5rem;">Touch Screen:</strong></h1>
         
                <ng-container *ngIf="laptop.Touchscreen === 1; else noTouchscreen">
                  Yes
                </ng-container>
                <ng-template #noTouchscreen>
                  No
                </ng-template>
              </li>
              
  
    
            <div class="mt-10 flex flex-col items-center justify-between space-y-4 border-t border-b py-4 sm:flex-row sm:space-y-0">
              <div class="flex items-end">
                <h1 class="text-3xl font-bold">{{laptop.price}}</h1>
                <span class="text-base">/PKR</span>
              </div>
    
              <button type="button" 
              class="inline-flex items-center justify-center rounded-md border-2 border-transparent bg-gray-900 bg-none px-12 py-3 text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800 {{ userIdPosterAd === curentUserId ? 'blurred-button' : '' }}" 
              [disabled]="userIdPosterAd === curentUserId" 
              (click)="toggleChat()">
        <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mr-3 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
        </svg>
        Chat with User
      </button>
      
            </div>
    
            <ul class="mt-8 space-y-2">
              <li class="flex items-center text-left text-sm font-medium text-gray-600">
                <svg class="mr-2 block h-5 w-5 align-middle text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" class=""></path>
                </svg>
                {{ laptop.location }}
              </li>

            </ul>
          </div>
    
          <div class="lg:col-span-3">
            <div class="border-b border-gray-300">
              <nav class="flex gap-4">
                <a href="#" title="" class="border-b-2 border-gray-900 py-4 text-sm font-medium text-gray-900 hover:border-gray-400 hover:text-gray-800"> Description </a>
    
              </nav>
            </div>
    
            <div class="mt-8 flow-root sm:mt-12">
              <!-- <h1 class="text-3xl font-bold">Description</h1> -->
              <p class="mt-4">{{laptop.description }}</p>
              
            </div>
          </div>
        </div>
      </div>
    <!-- for laptop -->


   
 
    <div *ngIf="showChat" class="chat-container">
      <div class="chat-header">
        <div style="display: flex; align-items: center;">
          <div class="circle-icon" ></div>
          <div style="font-size: 16px; font-weight: bold;margin-left: 5px;">{{ userNamePosterAd }}</div>
        </div>
        
       
        <span class="close-icon" (click)="closeChat()">Close</span>
      </div>
      <div class="chat-body">
        <!-- Display messages in chat body -->
        <!-- <div *ngFor="let message of sortedMessages" class="message-container">
          <div class="message" [ngClass]="{ 'sent': message.senderId === curentUserId, 'received': message.senderId !== curentUserId }">
            <div class="message-content">
              <div class="message-text">{{ message.message }}</div>
              <div class="timestamp">{{ message.timestamp | date: 'medium' }}</div>
            </div>
          </div>
        </div> -->
        <div *ngFor="let message of sortedMessages" class="message-container">
          <div class="message" [ngClass]="{ 'sent': message.senderId === curentUserId, 'received': message.senderId !== curentUserId }">
              <div class="message-content">
                  <div class="message-text">{{ message.message }}</div>
                  <div class="timestamp">{{ message.timestamp | date: 'medium' }}</div>
              </div>
          </div>
      </div>
      
        
      </div>
      <div class="chat-footer">
        <input type="text" placeholder="Type your message..." class="message-input" #messageInput>
        <button class="send-button" (click)="sendMessage(messageInput)">Send</button>
      </div>
    </div>
    
    
    
  </section>
  