<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
        <div class="md:pt-8 lg:flex lg:flex-col lg:justify-center">
          <p class="text-center font-bold text-green-500 md:text-left">Who we are</p>
  
          <h1 class="mb-4 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6 md:text-left">Operational since 2024</h1>
  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">We are a leading classified platform specializing in laptops, mobiles, and various electronic items. Established in 2024, our mission is to provide users with a seamless experience for buying and selling electronics. Our platform offers advanced price prediction services for every item listed, ensuring transparency and fair deals for our users. Additionally, we provide inspection predictions to help buyers make informed decisions about their purchases.</p>
        </div>
        <div>
          <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
            <img src="https://images.unsplash.com/photo-1554743365-a80c1243316e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
          </div>
        </div>
        <div class="md:col-span-2">
          <h2 class="mb-2 text-center text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4 md:text-left">About us</h2>
  
          <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">We are a team of passionate individuals dedicated to revolutionizing the way people buy and sell electronics. Our platform is designed to provide a seamless and secure experience for users, offering advanced features such as price prediction and inspection predictions to ensure transparency and trustworthiness in every transaction.</p>
        </div>
      </div>
    </div>
  </div>
  